:root {
    --white: rgb(247, 247, 247);
    --white-f: rgba(247, 247, 247, 0.2);
    --black: rgb(10, 10, 10);
    --gray-f: rgba(65, 65, 65, 0.6);
    --green: rgb(10,181,142);
    --green-f: rgba(10,181,142, 0.5);
    --light-green: rgba(165,232,135,255);
    --transparent: rgba(0, 0, 0, 0);
    --red: rgb(170, 0, 0);
}

* {
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

html, body, 
h1, h2, h3, h4, h5, h6
span,
hr {
	margin: 0;
	padding: 0;
    border: none;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
  
.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

/*! Footer Styles */

footer * {
    margin: 0;
    padding: 0;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid var(--white);
    background-color: var(--black);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

footer h3 {
    padding: 5px 20px;
    color: var(--black);
    background-color: var(--green);
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 3rem;
}

footer span {
    max-width: 500px;
    margin: 10px auto;
    line-height: 20px;
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 300;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer-links a {
    margin: 1% 1%;
    padding: 1%;
    color: var(--green);
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 1px;
    transition: transform 400ms ease-in-out;
}

.footer-links a:hover {
    transform: translate(0, -5px);
}

.socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    list-style: none;
}

.socials-list li {
    margin: 0 10px;
    filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(0deg) brightness(118%) contrast(119%);
    transition: transform 200ms ease-in-out;
}

.socials-list li:hover {
    transform: scale(1.5);
}